.container {
    color: #fff;
}

.title{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 50px;
}

.element{
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 14px;
}

.line{
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 20px;
}